* {
	appearance:normal;
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	outline: none;
	font-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
*:focus {
	outline: none;
}
body {
	background-color: #F4F4F4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.logo {
	top: 0px;
	display: block;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 1;
	padding-top: 12px;
	padding-bottom: 7px;
}
.logo img {
	width: 250px;
}



.main_content {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 25%;
	text-align: center;
}

.btn_standard {
	width: auto;
	display: block;
	padding-top: 12px;
	padding-bottom: 11px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	border-radius: 8px;
	font-weight: bold;
	position: relative;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	curor: pointer;
}
.btn_blue {
	background-color: #6C9D9F;
}
.btn_green {
	background-color: #92B979;
}
.btn_red {
	background-color: #D53C5A;
}
.btn_grey {
	background-color: #AAA;
}
p {
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	text-align:left;
	margin-top: 25px;
	font-size: 14px;
	line-height: 18px;
}
.dynamic_data_box {
	display: block;
	margin-bottom: 12px;
}
